<header>
    <div class="container">
        <a href="/">
            <div class="logo">
                <h1>Launchstore</h1>
                <h2>BUY and SALE<h2>
            </div>
        </a>

        <form class="search" method="GET" action="/products/search">
            <input
                type="text"
                name="filter"
                placeholder="Search for all products"
                {% if search.term %}
                    value="{{search.term}}"
                {% endif %}
            >
        </form>

        <nav class="primary">
            <ul>
                <li>
                    <a href="/ads/create">
                        <i class="material-icons">add</i>
                        Novo Anúncio
                    </a>
                </li>

                <li class="accounts">
                    <a href="/accounts">
                        <i class="material-icons">account_circle</i>
                        Minha Conta
                    </a>
                    <ul class="submenu">
                        <li>
                            <a href="/users">Minhas Contas</a>
                        </li>
                        <li>
                            <a href="/buying">Meus pedidos</a>
                        </li>
                        <li>
                            <a href="/selling">Minhas Vendas</a>
                        </li>
                        <li>
                            <form action="/users/logout" method="POST">
                                <button>Sair</form>
                            </form>
                        </li>                        
                    </ul>
                  
                </li>    
            </ul>
        </nav>

    </div>
</header>
